{% extends 'shopapi/base.html' %}
{% block content %}
    <h1>Products</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
        {% if object_list %}
            <tr>
            {% for i in object_list %}

                <td><a href="{% url 'shopapi:product_detail' i.id %}">{{ i }}</a></td>
                <td>{{ i.price }}</td>
                <td>{{ i.category }}</td>
                {% if i.quantity > 0 %}
                <td>Yes</td>
                {% else %}
                <td>No</td>

                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% else %}
    <p>No products here.</p>
        {% endif %}
{% endblock %}