{% extends 'shopapi/base.html' %}
{% block content %}
    <h1>{{ product_list.0.category }}</h1>
    <div class="table-responsive">
    {% if product_list %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>

            <tr>
            {% for i in product_list %}

                <td><a href="{% url 'shopapi:product_detail' i.id %}">{{ i }}</a></td>
                <td>{{ i.price }}</td>
                <td>{{ i.category }}</td>
                <td>{{ i.quantity }}</td>
                <td><a href="{% url 'shopapi:product_detail' i.id %}"><button class="btn bg-dark text-white">Buy
                </button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% else %}
    <p>No products here.</p>
    {% endif %}
{% endblock %}